<h1>Create New User</h1>
<%= form_tag({controller: "users", action: "create"}, method: "post", id: "user_creation_form") do %>
    <%= label_tag :username, "Username" %>
    <%= text_field_tag :username %>
    <%= label_tag :password, "Password" %>
    <%= password_field_tag :password %>
    <%= label_tag :retyped_password, "Retype Password" %>
    <%= password_field_tag :retyped_password %>
    <%= label_tag :email_address, "Email Address" %>
    <%= text_field_tag :email_address %>
    <%= submit_tag "Create User", id: "create_user" %>
<% end %>